*{
    padding: 0;
    margin: 0;
    overflow: hidden
}

body{
    background: #2f2f2f;
}

.chat-logo{
    margin-top: 5%;
}

.chat-video{
    background: #1a1a1a;
    margin-top: 12%;
    height: 60vh;
    text-align: center;
}
.chat-video-camera{
    height: 60vh;
}
.chat-video-local{
    margin-top: 70%;    
}

.chat-title{
    color: #fff;
    margin-top: 5%
}

.chat-subtitle{
    color: #fff;
    margin-top: 10%
}

.chat-calls{
    margin-top: 3%
}

.chat-btn{
    margin-bottom: 1%;
}